[submodule "stairdb/static/plugins/--force"]
	path = stairdb/static/plugins/--force
	url = https://github.com/Turbo87/leaflet-sidebar.git
[submodule "stairdb/static/plugins/leaflet-sidebar"]
	path = stairdb/static/plugins/leaflet-sidebar
	url = https://github.com/Turbo87/leaflet-sidebar.git
