{% extends 'base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}
{% block header %}{% endblock %}
{% block content %}
<nav id="header-nav" class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="nav-container">
        <a class="navbar-brand" href="http://stairculture.com/archive/">
            <img id="header-logo" style="height:40px" src="{% static 'img/cropped-Symbol-Line-Final_HKSA_2016_smsq_trans.png' %}" alt="Hong Kong Stair Archive"/>
        </a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul id="top-menu" class="nav navbar-nav navbar-right">
            <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-81"><a href="https://stairculture.com/archive/">Home</a></li>
            <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://hkstairmap.stairculture.com/">Map</a></li>
            <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="https://stairculture.com/archive/featured-stairs/">Featured Stairs</a></li>
            <li id="menu-item-362" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-362"><a href="https://stairculture.com/archive/news/">News</a></li>
            <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://stairculture.com/archive/about/">About</a></li>
            <li id="menu-item-1593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1593"><a href="https://stairculture.com/archive/exhibition/">Exhibition</a></li>
          </ul>
        </div>
    </div>
    </div>
</nav>
<div id="loader">
    <div id="loader-content">
        <img src="{% static 'img/spinner.gif' %}" style="margin: 0 auto">
        <div id="loader-msg"><h4><strong>loading...</strong></h4></div>
    </div>
</div>
{% leaflet_map "main" %}
<div id="map" class="map"></div>
<div class="info-box" id="layer-info" style="display:none"></div>
<div class="info-box" id="accuracy-box" style="display:none">
    <em>The process of placing historic maps on current maps ("georeferencing") is done by matching points on the historic map to corresponding points on a current basemap.  It is not an exact process.  One can see above how the historical documents fit well in some places, and badly in others.  This is to say that the historic maps are best considered as showing features in their current day </em>vicinity<em>, not their exact location.</em>
</div>
<!-- <p>
{% for p in players %}
    {% if not forloop.first %} | {% endif %}{{ p }}
{% endfor %}
</p> -->
<input type="hidden" id="col_json" name="col_json" value="{{ col_json }}">

    
<div class="col-xs-12">

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides" data-continuous="true"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

</div>


<div id="sidebar"></div>

<!-- <script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event, titleElement: 'h',},
        options = {
          index: link, event: event,
          onslide: function (index, slide) {
            self = this;
            var initializeAdditional = function (index, data, klass, self) {
              var text = self.list[index].getAttribute(data),
                node = self.container.find(klass);
              node.empty();
              if (text) {
                node[0].appendChild(document.createTextNode(text));
              }
            };
            initializeAdditional(index, 'data-description', '.description', self);
          }
        },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script> -->

<script src="{% static 'js/main_map.js' %}" type="text/javascript"></script>
<script src="{% static 'plugins/Gallery-2.21.3/js/jquery.blueimp-gallery.min.js' %}" type="text/javascript"></script>

{% endblock %}