body {
    padding: 0;
    margin: 0;
}
html, body, .leaflet-container {
    height: 100%;
    width: 100%;
}


#header-nav .container-fluid {
    padding-left: 6px;
    padding-right: 6px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 5000;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #cccccc;
}

.popup-fixed {
  position: fixed;
  top: auto;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
  width: 70%;
}

.nav li {
    display: table;
    height: 100%;
}

.nav li a {
    font-size: 17px;
    font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6) !important;
    display: table-cell;
    vertical-align: middle;
}

:active, :focus { outline: none; -moz-outline-style: none; }

.nav-container {
    width:80%;
    max-width:1080px;
    margin:auto;
    padding:0px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-toggle {
    border: 0;
}

.navbar-toggle:hover {
    background-color: rgba(2, 2, 2, 0.11) !important;
    border: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-inverse .navbar-toggle {
    
}

.leaflet-sidebar, .leaflet-fusesearch-panel {
    top: 50px;    
    bottom: 0px;
    height: auto;
}

.leaflet-top {
    top: 50px !important;
}

.content-row {
    height: 100vh
}

.leaflet-popup {
    /*min-height:100%;*/
    font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
}

.leaflet-popup-content-wrapper {
    height:100%;
}

.leaflet-popup-content {
    width: 150px;
}


.leaflet-sidebar .close {
    z-index: 1001;
    top: 10px;
    right: 6px;
    font-size:36px;
}
.leaflet-sidebar h1 {
    font-size: 32px;
}

/* using dl dt dd css from this great post */
/* http://www.the-art-of-web.com/css/format-dl/ */
.leaflet-popup dl, .leaflet-sidebar dl {
    font-size: 12pt;
    margin: 15px 0px;
}

.leaflet-popup dt, .leaflet-sidebar dt {
    float: left;
    clear: left;
    width: 70px;
    margin-right: 10px;
    text-align: right;
    font-weight: bold;
}

.leaflet-popup dt::after, .leaflet-sidebar dt::after {
    content: ":";
}

.leaflet-popup dd, .leaflet-sidebar dd {
    margin: 0 0 0 65px;
}

.leaflet-control-layers-expanded {
    min-width: 170px;
}

.leaflet-control-layers-overlays {
    overflow-y: auto;
    height: 250px;
}

.leaflet-control-about-button {

}


.loader-mask {
    background-color: rgba(0,0,0,.5)
}

#loader {
    position: absolute;
	top: 250px;
	width: 100%;
	height: 50px;
	z-index: 9999;
}

#loader-content {
    display: table;
    margin: 0 auto;
    font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    text-align: center;
}

.loader-mask {
    padding: 15px;
    background-color: rgba(255,255,255,.75);
    border-radius: 5px;
}

.cluster-marker {
	border-radius: 50%;
    margin-top: -17px !important;
    margin-left: -17px !important;
    width: initial !important;
	height: initial !important;
    text-align: center;
}

.cluster-marker div {
	background-clip: padding-box;
	border-radius: 50%;
    width: 35px;
	height: 35px;
    border: rgba(0,0,0,0) 4px solid;
}

.cluster-marker p {
	font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
    line-height: 28px;
    font-weight: 600;
}

.all-stairs, .all-stairs div {
    background-color: rgba(50,50, 50, 0.6);
    z-index: 450 !important;
    color: white;
}
.featured, .featured div {
    background-color: rgba(255, 105, 180, 0.6);
    z-index: 450 !important;
    color: white;
}
.alley-stairs, .alley-stairs div {
    background-color: rgba(221,45,22, 0.6);
    z-index: 440 !important;
}
.building-access, .building-access div {
    background-color: rgba(184,66,81, 0.6);
    z-index: 441 !important;
}
.country-park-stairs, .country-park-stairs div {
    background-color: rgba(170,0,102, 0.6);
    z-index: 442 !important;
}
.curb-stairs, .curb-stairs div {
    background-color: rgba(102,181,45, 0.6);
    z-index: 443 !important;
}
.elevated-walkway, .elevated-walkway div {
    background-color: rgba(175,221,22, 0.6);
    z-index: 444 !important;
}
.escalator, .escalator div {
    background-color: rgba(97,22,221, 0.6);
    z-index: 445 !important;
}
.footpath, .footpath div {
    background-color: rgba(136,215,255, 0.6);
    z-index: 446 !important;
}
.maintenance-stairs, .maintenance-stairs div {
    background-color: rgba(0,101,170, 0.6);
    z-index: 447 !important;
}
.pier-stairs, .pier-stairs div {
    background-color: rgba(181,137,53, 0.6);
    z-index: 448 !important;
}
.park-stairs, .park-stairs div {
    background-color: rgba(221,104,22, 0.6);
    z-index: 448 !important;
}
.plaza-stairs, .plaza-stairs div {
    background-color: rgba(209,191,0, 0.6);
    z-index: 448 !important;
}
.street-stairs, .street-stairs div {
    background-color: rgba(63,181,18, 0.6);
    z-index: 448 !important;
}
.subway, .subway div {
    background-color: rgba(234,0,22, 0.6);
    z-index: 448 !important;
}

/* set bluimp gallery on top of fullscreen */
.blueimp-gallery {
    z-index: 2147483647 !important;
}



.leaflet-control-minimap {
    width: 150px !important;
    height: 150px !important;
}




.edit-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


/* Fuse Search Panel */
.leaflet-fusesearch-control {
    border: 2px solid rgba(0,0,0,0.2);
    box-shadow: none;
    border-radius: 5px;
    background-clip: padding-box;
}
.leaflet-fusesearch-panel {
    top: 106px;
}
.leaflet-fusesearch-control .button {
    background-image: url(../plugins/images/search.png);
}

.leaflet-fusesearch-panel .search-image {
    background-image: url(../plugins/images/search_input.png);
}
.leaflet-fusesearch-panel .header {
    height: 40px;
}
.leaflet-fusesearch-panel .search-input {
    width: 230px;
    font-size: 28px;
}

.leaflet-fusesearch-panel .search-input {
  -webkit-appearance: searchfield;
}
.leaflet-fusesearch-panel .search-input::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.leaflet-fusesearch-panel .close {
    right: 15px;
    top: 10px;
}


.stair-properties dd:after {
    display: table;
    content: "";
    clear: both;
}





/* Responsive Styles Tablet And Below */

/* styles for narrow desktop browsers and iPad landscape */
@media all and (max-width: 1024px) {

}


/* styles for narrower desktop browsers and iPad portrait */
@media all and (max-width: 980px) {

}


/* styles for mobile */
@media all and (max-width: 767px) {

    .nav-container {
        width: 100%;
    }

    .navbar-toggle {
        margin-right: 0px;
    }

    .navbar-collapse {
        border-top: none;
    }

    .leaflet-control-minimap {
        width: 100px !important;
        height: 100px !important;
    }

    .leaflet-sidebar, .leaflet-fusesearch-panel {
        top: auto;
        bottom: 0px;
        width: 100%;
        height: 200px;
        /*padding-top: 0;*/
    }
    .leaflet-sidebar {
        overflow: auto;
    }

    .leaflet-fusesearch-panel .content {
        overflow: hidden;
    }
    .leaflet-fusesearch-panel .result-list {
        overflow: auto;
        height: 100%;
    }

    .leaflet-sidebar .close {
        top: 0px;
    }

    /* full-screen does not work on mobile */
    .leaflet-control-fullscreen {
        display: none;
    }

    /* prevent pan in mobile */
    .leaflet-map-pane {
        transform: none !important;
    }
    .leaflet-sidebar.left.visible ~ .leaflet-left {
        left: auto;
    }

    .leaflet-fusesearch-panel .close {
        right: 10px;
        top: 0px;
    }

}