html body {
    height: 100vh;
}

.navbar {
    background-color: white;
    border: none;
    margin-bottom: 0px;
}

.nav li {
    display: table;
    height: 100%;
}

.nav li a {
    font-size: 17px;
    font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6) !important;
    display: table-cell;
    vertical-align: middle;
}

.nav-container {
    width:80%;
    max-width:1080px;
    margin:auto;
    padding:0px;
}

.leaflet-container {
    height: 450px;
    box-shadow: 5px 5px 3px #888888;
    border: solid 1px #888888;
}

.content-row {
    height: 100vh
}

